
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'Oswald', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.layout{
    display: flex;
    height: 100vh;
    flex: 1;
}

.sidebar{
    width: 150px;
    flex-shrink: 0;
    background-color: #22252A;
    color: #f5f5f5;
    flex: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.239);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    position: sticky;
    z-index: 0;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.sidebar ul{
    list-style: none;
    padding: 15px;
    width: 100%;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    margin-bottom: 0.5rem;
    padding: 15px;
    width: 100%;
    transition: color 0.6 ease, background-color 0.6s ease;
}

.sidebar a:hover {
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.443);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 100%;
}

.sidebar li {
    margin-bottom: 1.5rem;
}

.sidebar a span {
    font-size: 24px;
    margin-bottom: 3.7px;
}

.sidebar a.active{
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.443);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 100%;
}



/* Dashboard */
section{
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 17px;
    height: 100%;
}

section .head-section{
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.239);
}

section .search-wrapper{
    position: relative;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-wrapper input{
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.239);
    font-size: 16px;
    outline: none;
}

.search-wrapper .search-icon{
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

section .head-section h1{
    font-size: 23px;
    font-weight: 600;
    margin-top: 13px;
}

section .content-section {
    flex: 1;
    display: flex;
    align-items: center;
}



/* Grid layout */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
    width: 100%;
    height: 100%;
}

.div1, .div2, .div3 {
    grid-column: span 1 / span 1;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.239);
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.239);
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.239);
}

.div6 {
    grid-column: span 3 / span 3;
    grid-row-start: 4;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.239);
}

.div7, .div8, .div9 {
    grid-row-start: 5;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.239);
}
